body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.header {
    background: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.acerca_mi .imagen img {
    max-width: 100px;
    border-radius: 100%; /* Hace la imagen circular */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.contenido_principal {
    margin: 20px;
}

.box {
    font-family: Arial, sans-serif;
    background: white;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.gustos {
    font-family: Arial, sans-serif;
}

.footer {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    margin-top: 20px;
}
